@import "tailwindcss";

@theme {
  --color-textcolor: #e0e0e6;
  --color-background: #232538;
  --color-foreground: #282841;
  --color-primary: #6F5DC1;
  --color-secondary: #A599F0;
  --color-accent: #a855f7;
  --color-background-accent: #2b2b48;

  --color-muted: color-mix(in oklab, var(--color-background), var(--color-foreground) 5%);
  --color-muted-foreground: color-mix(in oklab, var(--color-foreground), var(--color-background) 70%);
  --color-border: color-mix(in oklab, var(--color-foreground), var(--color-background) 90%);
  --color-hover: color-mix(in oklab, var(--color-primary), black 10%);
  --color-active: color-mix(in oklab, var(--color-primary), black 20%);
}

@layer components {
  .menu-title {
    @apply text-2xl font-semibold text-textcolor p-2;
  }

  .menu-option {
    @apply text-lg font-light text-textcolor flex flex-row items-center gap-3 p-2 rounded-lg bg-background hover:bg-foreground hover:border-l-5 hover:border-primary hover:font-normal ml-3;
  }

  .form-input {
    @apply p-2 border border-secondary/50 rounded-lg bg-background hover:border-primary/80 focus:outline-none focus:border-primary/80 focus:border-2
  }

  .form-submit {
    @apply cursor-pointer mt-4 bg-primary text-white py-2 rounded-lg hover:bg-primary/90 transition-all
  }
}

input[type="date"], [type="time"], [type="month"] {
  color-scheme: dark;
}

@layer utilities {
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }
  }

  @layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }

    .scrollbar-hide {
      -ms-overflow-style: none;
      /* IE/Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }

  @layer utilities {

    /* Custom scrollbar */
    .scrollbar-custom::-webkit-scrollbar {
      width: 4px;
      height: 8px;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
      background: theme('colors.primary');
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
      background: theme('colors.primary');
      border-radius: 9999px;
    }

    /* Firefox support */
    .scrollbar-custom {
      scrollbar-color: theme('colors.primary') theme('colors.foreground');
      scrollbar-width: thin;
    }
  }



  @keyframes wave {

    0%,
    100% {
      transform: translateX(0) rotate(0deg);
    }

    25% {
      transform: translateX(6px) rotate(6deg);
    }

    75% {
      transform: translateX(-6px) rotate(-6deg);
    }
  }

  .animate-float {
    animation: float 2s ease-in-out infinite;
  }

  .animate-spin-slow {
    animation: logo-spin 20s linear infinite;
  }

  .animate-wave {
    animation: wave 5s ease-in-out infinite;
  }
}